<h1>Danh sách sản phẩm</h1>
<div class="row">
    <div ng-repeat="pro in products"
         class="card col" style="width: 18rem;"
    >
        <img src="{{ pro.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{ pro.name }} </h5>
            <p class="card-text"> {{ pro.price }} </p>
            <div class="row">
                <a href="#!/detail/{{pro.id}}" class="col btn btn-primary">Detail</a>
                <a href="#!/edit/{{pro.id}}" class="col btn btn-warning">Edit</a>
                <a ng-click="onDelete(pro.id)" class="col btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>